html{
	font-family: Ebrima;
}

body{
	position: relative;
	text-align: center;
	background: #e2e2e2;
	top: 20px;
	margin: 0 auto;
	border: 1px solid #fff;
	width: 60%; min-width: 500px;
}

#error{
	color: red;
	font-size: 20px;
}

#succes{
	color: green;
	font-size: 20px;
}
/* MENU OF SIGN UP AND LOGIN */
#menu{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid #eee;
}

#menu a{
	text-decoration: none;
	display: inline-block;
	color: #666;
	padding: 10px;
	border: 1px solid #eee;
	background-color: #e2e2e2;
}

#menu a:hover{
	color: #000;
	background-color: #bbb;
	border: 1px solid #ddd;
}

#menu a.active{
	color: #000;
	background-color: #ddd;
	border: 1px solid #ddd;
}

#menu a.active:hover{
	color: #000;
	background-color: #c1c1c1;
	border: 1px solid #ddd;	
}


.signlogin{
	width: 90%;
	margin: 0 auto;
	margin-top: -16px;
	border:  0 solid #eee;
	background-color: #ddd;
}

h1{
	font-size: 24px;
}
p{
	margin: 0;
	padding: 3px;
}

table{
	margin: 3%;
	direction: auto;
	font-size: 20px;
}


.textBox{
	direction: auto;
	//width: 100px;
	margin: 2px;
}

#soumettre{
	font-size: 16px;
	margin-bottom: 5px;

}