/* -------------------- CONTENU ---------------------- */
/* -------------------- Paragraphe ---------------------- */

/* Les paragraphes */
	#paraTitre{top: 0;}
	#paraTitre h1{position: absolute;  top: -5px;
		font-size: 20px; color: rgb(220,50,50);
		padding: 0; text-align: center;
		left: 37.5%;
	}

	#paraTexte{position: absolute; top: 40px; 
		width: 100%; max-width:100%; min-width: 470px; 
		height: 98%;
		//box-shadow: 0 0 2px #999;background: rgb(220,220,220);}
		#listDmalon li{list-style-type: disc;}
		#listDmalon a{text-decoration: none;}

		#intro{
			position: absolute;
			width: 95%;
			line-height: 80%;
			font-family: Geneva, Ebrima, dejaVu;
			font-size: 18px;
			text-indent: inherit;
			//border:1px solid #000;
			text-align: justify;
			margin: 5px; padding: 5px; 

		}

		#intro li{margin: 5px; padding: 0;}
		#intro a{margin: 0; padding: 0;}
		#intro p{line-height: 150%;}

		.def{
			font-family: Geneva;
			font-size: 20px;
			line-height: 100%;
			font-style: italic; 
		}

		.contact_us{text-align: right;}
		.souhait{text-align: center;}


	