
#titre{position: fixed; top: 72px; left: 0; 
	width: 200px;  /*max-width: 200px; min-width: 200px;*/ 
	height: 100%; 
	background: rgb(70,70,70);
	z-index: 0;
}

/* Les titres du contenu */

#titre h1{
	font-size: 20px;
	text-align: center;
	margin: 5px 0 0 0;
}

#titre .sub_titreH1{
	font-size: 20px;
	text-align: center;
	margin: 1px 0 0 0;
}


#hautTitreH1{
	color: rgb(100,100,100);
	cursor: default;
	}
.h1Liens{color: rgb(220,220,220);}
#titre ul{
	//border: 3px solid rgb(50,100,150);
	margin: 0 auto;
	padding: 0;
}
#titre li{
	list-style-type: none;
	margin: 1px 0 0 0;
	text-align: center;
	line-height: 140%;
	font-size: 23px;
	//border: 1px solid #000;
}
#titre a{text-decoration: none; color: rgb(180,180,180);}
#titre a:hover{color: rgb(20,20,20);}
#titre li.active a{color: rgb(200,40,40);}
