
#titre{position: fixed; top: 70px; left: 0; 
	width: 15%;  max-width: 15%; min-width: 150px; 
	height: 100%; box-shadow: 0 0 5px #999;
	background: rgb(70,70,70);
}

/* Les titres du contenu */
#titre h1{
	color: rgb(200,200,200);
	font-size: 20px;
	text-align: center;
	padding: 0;
}
#titre ul{
	//border: 1px solid #000;
	position: absolute;
	margin: 0 auto;
	padding: 10px;
}
#titre li{
	list-style-type: none;
	margin: 5px;
	top: 0;
	text-align: center;
	line-height: 180%;
	font-size: 24px;
	//border: 1px solid #000;
}
#titre a{text-decoration: none; color: rgb(150,150,150);}
#titre a:hover{color: rgb(20,20,20);}
#titre li.active a{color: rgb(200,40,40);}
