
#contenu{position: absolute;
	 top:70px; 
	width: 85%; right:0; max-width: 85%; min-width: 640px; 
	margin: 0 auto; 
	//border:1px solid #000;
	height:100%; 
	background: #aaa;
	} 
	.videoIntro{width:90%; height:75%;
		margin: 2% 5% 2% 5%;
		}
