html{
	font-family : Ebrima;
}
body{
	font-family : Ebrima;
}

/* Les titres du contenu */
#hautTitreH1{margin:5px;}
/*  ***** CSS OF THE CONTENT MENU ***** */ 
/* ----for main title---- */
.titreH1{
	color: rgb(200,200,200);
	position: relative;
	cursor: cell;
	font-size: 18px;
	margin: 0 auto;
	text-align: center;
	padding: 5px;
}

.sub_titreH1{
	color: rgb(200,200,200);
	cursor: cell;
	font-size: 18px;
	padding: 5px;
}
/* --- For level_in and level_off--- */

/* H1 STYLE for title*/
.titreH1_pass{
	border: 3px solid rgb(50,150,150);
	background: rgb(50,150,150);
}
.titreH1_in{
	border: 3px solid rgb(50,100,150);
	background: rgb(50,100,150);
}
.titreH1_off{
	border: 3px solid rgb(100,100,100);
	background: rgb(100,100,100);
}

/* H1 STYLE for sub_chapter*/
.sub_titreH1_pass{
	border: 3px solid rgb(40,120,120);
	background: rgb(40,120,120);
}
.sub_titreH1_in{
	border: 3px solid rgb(40,80,120);
	background: rgb(40,80,120);
}
.sub_titreH1_off{
	border: 3px solid rgb(100,100,100);
	background: rgb(100,100,100);
}


/* *********** UL STYLE ************ */ 
/*  for chapiter * */
.lesTitres_pass{
	border: 3px solid rgb(50,150,150);
}
.lesTitres_in{
	border: 3px solid rgb(50,100,150);
}
.lesTitres_off{
	border: 3px solid rgb(100,100,100);	
}
/* UL STYLE for sub_chapiter */
.sub_Titres_pass{
	border: 3px solid rgb(40,120,120);
}
.sub_lesTitres_in{
	border: 3px solid rgb(40,80,120);
}
.sub_lesTitres_off{
	border: 3px solid rgb(100,100,100);	
}


/* ----- lesTitres ----- */
.titreH1>a{color: rgb(220,220,220);}

.lesTitres li{
	padding: 3px;
	list-style-type: none;
	line-height: 100%;
	font-size: 18px;
	color: rgb(150,150,150);
	cursor: default;
}
.lesTitres li.active a{color: rgb(250,250,100);}
.lesTitres  a{text-decoration: none; color: rgb(220,220,220);}
.lesTitres a:hover{color: rgb(20,20,20);}



/* ----- lesTitres ----- */
.lesLiens li{
	list-style-type: none;
	line-height: 100%;
	font-size: 18px;
}

.lesson_pass{
	background: rgb(35,100,100);
}
.lesson_in{
	background: rgb(35,70,115);
}
.lesson_off{
	background: rgb(120,120,120);
}

.lesLiens li.active a{color: rgb(250,250,100);}
.lesLiens a{text-decoration: none; color: rgb(220,220,220);}
.lesLiens a:hover{color: rgb(20,20,20);}

/* ****************** STYLE of VIEDO PLACE *************** */
#videoPlace{
	margin: 0 auto;
	border: 1px solid #eee;
	width: 90%; max-width:95%; min-width: 640px;
	height: 480px; max-height:100%; min-height: 390px;
}

#movie_title{
	text-align: center; 
	margin:0 auto;
	padding: 5px;
	font-size: 20px;
	}
#comment_title{
	font-size: 16px;
	color:#555;
}
iframe{
	width:100%; min-width:480px; 
	height:480px; min-height: 390px; 
}

