
.infoPerson{position: absolute;
	width: 60%;
	height: 50%; min-height: 250px;
	padding: 10px;
	display: inline-block;
	margin: 0 auto;
}

.table{
	margin: 10px;
	padding: 10px;
	line-height: 160%;
}
.table td{text-align: right;}

.table tr:nth-child(1){

	
}
.textBox{
	width: 200px;
	margin: 5px;
	padding: 5px;
}

#soumettre{
	font-size: 16px;
	
}