
/* ad ebrima font hosting in local server */
@font-face {
    font-family: "ebrima";
    src: url('http://www.fasso.org/font/ebrima.ttf');
}
@font-face {
    font-family: "ebrima";
    font-style: italic;
    src: url('http://www.fasso.org/font/ebrima.ttf');
}
@font-face {
    font-family: "ebrimabd";
    font-weight: bold;
    src: url('http://www.fasso.org/font/ebrimabd.ttf');
}

html{
	font-family: ebrima;
}

body{
	font-family: ebrima;
	position: relative;
	text-align: center;
	background: #e2e2e2;
	top: 20px;
	margin: 0 auto;
	border: 1px solid #fff;
	width: 60%; min-width: 500px;
}

#lang_show{
	border-bottom: 0.25px solid #eee;
	height: 30px;

}
#lang_show a{
	text-decoration: none;
	margin:5px 10px; 
	font-size:16px;
	}

#error{
	color: red;
	font-size: 20px;
}

#succes{
	color: green;
	font-size: 20px;
}
/* MENU OF SIGN UP AND LOGIN */
#menu{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid #eee;
}

#menu a{
	text-decoration: none;
	display: inline-block;
	color: #666;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #e2e2e2;
}

#menu a:hover{
	color: #000;
	background-color: #bbb;
	border: 1px solid #ddd;
}

#menu a.active{
	color: #000;
	background-color: #ccc;
	border: 1px solid #ccc;
}

#menu a.active:hover{
	color: #000;
	background-color: #c1c1c1;
	border: 1px solid #ddd;	
}


.signlogin{
	width: 90%;
	margin: 0 auto;
	margin-top: -16px;
	border:  0 solid #eee;
	background-color: #ccc;
}

h1{
	font-size: 24px;
}
p{
	margin: 0;
	padding: 3px;
}

form{
	margin-top: 10px;
	//margin: 0 auto;
	//border: 1px solid #000;
}
table{
	//border: 1px solid #000;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
}
td{padding: 5px;}


.textBox{
	//width: 100px;
	//margin: 2px;
}

.checkbox{font-family: ebrima; font-size: 13px;}

#langues_selected{font-size: 14px; padding:2px; font-family: ebrima;}
.langue{font-size: 14px; padding:5px;}
#soumettre{
	font-size: 16px;
	margin-bottom: 5px;
	font-family: ebrima;

}