/* -------------------- PROFILE ---------------------- */
.image_profile{
	margin: 5px;
}

.infoPerson{ position: absolute;
	top: 40px;
	right:0;
	margin: 0;
	padding: 10px;
	width: 98.5%;
	height: 640px;
	background: rgb(220,220,220);
}

fieldset{
	width: 95%;
	height: 80%;
}
.table{
	width: 90%;
	position: absolute;
	margin: 0 auto;
	margin: 10px;
	padding: 10px;
	line-height: 160%;
}

.table td{
	border: 1px solid rgb(210,210,210);
	padding:5px;
	text-align: center;
	}
.textBox{
	padding: 2px;
}

#soumettre{
	font-size: 16px;
	margin-bottom: 5px;
}

/*  style of language profile*/
fieldset p{
	font-size: 18px;
	line-height: 100%;	
}

.lang{
	margin: 0;
	padding: 5px;
	font-size: 14px;

}
.video{position: absolute;
	border: 1px solid #000;
	width: 400px; 
	margin: 0 auto;
	height: 300px;
	}

}

	