html{font-family: Ebrima;}


*{margin: 0;} 


body{
	position: relative;
	border: 1px solid #fff;
	background: #e2e2e2;
	width: 60%; min-width: 500px;
	height: 99.5%;
	text-align: left;
	top:0;
	margin: 0 auto;
	/*
	margin-left: 20%;
	margin-right: 20%;
	*/
}

#headText>p{
	margin:5px; text-align: center;
	width: 95%;
}

form{
	width: 97%;
	margin-right: 10px; 
	margin-left: 10px;

}

#form p{padding-bottom: 5px;}

#LastStudy{display: visible;}

#form #LastStudy label{
	float: right;
	text-align: right;
}

#form #LastStudy input{
	width: 200px;
	margin-bottom: 0;
}

fieldset{position: relative;}

td{padding: 0 3px 0 3px}

ul{list-style-type: none;}

.descLevel{
	text-align: right;
	font-weight: 100;
	font-style: normal;
	position: absolute;
	font-size: 16px;
	padding: 5px;
}

.questionYN{padding: 0 3px 0 3px;}
.reponse{padding: 0 5px 0 5px; font-size: 20px;}

#aboutLast{text-align: center; font-size: 13px; font-style: italic; display: inline-block;}

optgroup{background: rgb(220,220,220);}

.descTexarea{ font-style: normal;}
option{
	text-align: left;
	font-size: 20px;
	background: rgb(200,200,200);
	cursor: pointer;
}

option:hover{background: #eee;}

optgroup:hover{
	background: rgb(150,150,150);
	color: #fff;
	-moz-transition:2s;
	-webkit-transition:2s;
	-o-transition:2s;
	transition:2s;
}
select{
	cursor: pointer;
	text-align: center;
	font-size: 20px; color: #fff;
	background: rgb(150,150,150);
}
select:hover{
	background: rgb(150,150,150);
	color: rgb(120,120,120);
	-moz-transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
	transition:1s;
}

#anoterInfo{
	width: 97%; max-width: 97%; min-width: 400px;
	height: 20%; max-height: 560px; min-height: 20%;
}

#soumettre{ position: absolute; 
	left: 80%;
	font-size: 18px;
	margin-top: 2px;
	cursor: pointer;
}